# OBSで「ツール」→「WebSocketサーバー設定」に表示されるパスワード
OBS_PASSWORD=""

# OBSで作成したテキストソースの名前（必須）
OBS_INPUT_NAME=字幕

# 通常は変更不要
OBS_URL=ws://127.0.0.1:4455
# UDトークの「ウェブで公開」で発行したURL
UDTALK_PUBLIC_URL="https://live.udtalk.jp/ここに64文字のID"
POLL_MS=500
RECONNECT_MS=2000
